.git_config.toml
.vscode
_git_bundle*zip
tmp*
_token_tracking.txt
_token_tracking.png
final_response_list.md
*_backup*.md
*_backup*.tex
src/*.egg-info/*
__pycache__
output.py
# snapshots/

# tex related files
*.log
*.toc
*.nav
*.tex~
*.aux
*.bbl
*.snm
*.synctex.gz
*.blg
*.bcf
*.run.xml
*.out
*.vrb
*.tex.backup
*.clo
*.idx
